<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Camera Feed</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/camerafeed.css' %}" />
  </head>
  <body>
    <div id="headercontainer">
      <header>
        <div class="header-left">
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Logout</button>
          </form>
        </div>
        <div class="header-right">
          <a href="{% url 'emer_list' %}" class="nav-button"><button class="btn btn-danger btn-sm">Emergency Contacts</button></a>
        </div>
      </header>
      </div>
      <h1>Camera Feed</h1>

      <img id="cameraFeed" src="" alt="Camera Feed" />

      <div id="capturecontainer">
        <button id="startStream">Start Stream</button>
      </div>

      <div class="folder" id="folderlabel"></div>

      <div class="perpetrator-container">
        <h2>Captured Perpetrator</h2>
        <div id="perpetrator-images"></div>
      </div>
    </div>
    <script src="{% static 'main/camera.js' %}"></script>

    {% if response %}
    <p>{{ response }}</p>
    {% endif %}
  </body>
</html>
