<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>Login</h2>
      {% if form.errors %}
      <div class="error">
        {% for field in form %} {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %} {% endfor %}
      </div>
      {% endif %}
      <div class="test">
        <form method="POST">
          {% csrf_token %} {{ form.as_table }}
          <button type="submit">Sign Up</button>
        </form>
      </div>
      <div class="butt">
        <a href="{% url 'login' %}" class="nav-button">Log In</a>
      </div>
    </div>
  </body>
</html>
